html {
    background-color:#a5ffd8;
}

#title_bar{
    background-color:#80f899;
    height: 2em;
    width:90%;
    overflow:hidden;
}

#title_bar > ul{
    list-style: none;    
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    height:100%;
}

#title_bar > ul > li{
    display: inline;
    border: solid 1px black;
    height: 100%;
    padding-left:5px;
    padding-right:5px;
}

#body_area{
    background-color:#80f899;
    width:90%;
    height:80%;
}