<!DOCTYPE html>
{% load staticfiles  %}
{% load static  %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>404? Aww. :(</title>
</head>
<body>
    <h1>404 (Page not found)</h1>
    <h1>:( There are no cats here. :(</h1>
    <h2>It seems that you've arrived on a page that does not exist. <br/>
    Make sure that the URL is correctly spelled and you're on the correct site<br/>
    If you think this is a mistake, contact the website administrator. </h2>
    <img src="http://f.tqn.com/y/cats/1/W/0/K/4/107072656.jpg">
    <img src={% static "kkidb/SadCat.jpg" %}>
</body>
</html>